# Environments (covers root, backend, and frontend)
**/.env
**/.env.*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel
